
# Project specific files

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Editor preference files
.env
.svn
.project
.settings
.idea
*.sublime-workspace
*.sublime-project
*.komodoproject
.komodotools
*.esproj
*.espressostorage

# Other
*.diff
.DS_Store
Thumbs.db
/.buildpath
